*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden;
}
/* .grid
{
    background-color: rgba(170,20,50,.3);
} */
.nav
{
    background-color: rgb(137, 62, 232);
    border-radius:.3vh;
}
.blockBgColor
{
    background-color:rgba(217, 217, 217, .09);
    padding: 2vh;
}
.MainText
{
    font-family: 'Anek Malayalam', sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 2.5vw;
    line-height: 3vw;
    color: black;
}
hr 
{
    border: none; 
    background-color: rgb(137, 62, 232);
    height: 1.5vw;
}
.messageFromMe
{
    padding-left:1.5vw;
    width: 41vw;
    height: auto;
    border-width: 0vh 0vh 0vh .3vw;
    border-color: rgb(137, 62, 232);
    border-style: solid;
    display: flex;
    flex-direction: column;
}
.messageFromYou
{
    align-items: flex-start;
    text-align: right;
    padding-right:1.5vw;
    width: 41vw;
    height: auto;
    border-width: 0vh .3vw 0vh 0vh;
    border-color: rgb(22, 235, 120);
    border-style: solid;
}
.chat1
{
    display: flex;
    justify-content: flex-start;
}
.chat2
{
    display: flex;
    justify-content: flex-end;
}
.btn
{
    height: 2vw;
    color: white;
    background-color: rgb(137, 62, 232);
    width: 10vw;
}
.myPhoto
{
    height: 45vw;
    width: auto;
}
.contactIcon
{
    height: 3.2vw;
    width: auto;
}
.contacts
{
    background: none;
}
.email
{
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Gudea', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-style:normal;
    font-weight:bolder;
    font-size: 3vw;
    color: rgb(137, 62, 232);
}
.hint
{
    width: 15vw;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Gudea', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-style:normal;
    font-size: 2vw;
    color:rgba(217, 217, 217, .4);
}
.phone
{
    padding-left: 2vh;
    font-family: 'Anek Malayalam', sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 1.5vw;
    color: rgb(137, 62, 232);
}
.skills
{
    font-family: 'Anek Malayalam', sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 1.7vw;
    color: rgb(137, 62, 232);
}
#Demo_headings h1 {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    font-family: 'Anek Malayalam', sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 1.5vw;
    line-height: 3vw;
    color: black;
    }
#Demo_headings h1:before,
#Demo_headings h1:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;

    vertical-align: middle;
    background: rgb(137, 62, 232);
    background-clip: content-box;
    border-bottom: .1vw solid rgb(137, 62, 232);
    }
#Demo_headings h1:before {
    left: -.5em;
    margin: 0 0 0 -50%;
    }
#Demo_headings h1:after {
    left: .5em;
    margin: 0 -50% 0 0;
    }
#Demo_headings h1>span:not([class]) {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    }

/* Works on any background */
#Demo_headings {
    padding: 1em;
    text-shadow: none;
    border-radius: inherit;
    }
.Sudoku
{
    width: 30vw;
    height: auto;
}
.SudokuText
{
    display: flex;
    align-items: center;
    text-align: right;
    width: 30vw;
    height: auto;
}
.projectHint
{
    text-align: center;
    width: auto;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Gudea', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-style:normal;
    font-size: 3vw;
    color:rgba(217, 217, 217, .4);
}
.CoffeeText
{
    display: flex;
    align-items: center;
    text-align: left;
    width: 30vw;
    height: auto;
}
.Coffee{
    width: 30vw; 
    height: 8.3vw;
}
.MenuAndButtonsTexts
{
    font-family: 'Anek Malayalam', sans-serif;
    font-style:normal;
    height: 2vw;
    color: white;
}
.btn{
    text-align: center;
}